tr,td {
    border: 1px solid black;
    width: 200px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

table, th {
    border: 2px solid black
}

.primeraColumna {
    border: 2px solid black;
    width: 25px;
}

th {
    height: 50px;
    background-color: rgb(190, 177, 177);
}

/*usando pseudo-selectores. 1 y 3 son pares porque estan en la fila 2 y 4*/
tr:nth-child(even){
    background-color: aqua;
}

/* acá para los impares */
tr:nth-child(odd) {
    background-color: aquamarine;
}

tr:hover {
    background-color:rgb(121, 90, 149);
}